@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
.hidden {
  display: none !important;
}

span.material-icons {
  margin: auto auto !important;
  padding: 0 !important;
}

.correct-choice {
  background-color: #2e6646 !important;
}

.wrong-choice {
  background-color: #81423c !important;
}

.choice-status {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 40px;
}
